@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

 *, ::after, ::before {
	font-family: "Montserrat", san-serif;
	box-sizing: inherit;
	font-size: 10pt;
}

html {
	box-sizing: border-box;
    min-width: 768px;
}

/* classes */
.MenuGroupHeader {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: var(--border-size-1) solid black;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.flex-column > * {
    flex: 0 0 auto;
    align-self: center;
}

.table-nonfluid {
    width: auto !important;
}

/* ids */
#HeaderContainer {
    display: flex;
    flex-flow: column nowrap;
}

#HeaderContainer > * {
    flex: 1 0 auto;
}

#HeaderLogo {
    display: flex;
    justify-content: center;
}

#HeaderLogo img {
    max-width: 160px;
    height: auto;
}

#Menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#Menu li {
    list-style: none;
    background-color: #686868;
    padding: 11px 24px;
    border-bottom: thin solid #7c7c7c;
    border-left: thin outset #737373;
    border-bottom: thin inset #5d5d5d;
    text-align: center;
    flex: 1 0 auto;
}

#Menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#Menu li:hover {
    background-color:#333333;
    cursor: pointer;
}

/* BodyDiv */
#BodyDiv {
    display: flex;
    flex-flow: row wrap;
}

/* MessageManager */
#MessageContainer {
    flex: 1 1 100%;
    text-align: center;
    margin: 10px;
}

#MessageContainer ul {
    margin: 0;
}

.info {

}

.success {
    padding: var(--size-2);
    font-size: var(--font-size-3);
    color: var(--gray-0);
    background-color: var(--green-4);
    border: var(--border-size-2) solid var(--green-5);
    border-radius: var(--radius-2)
}

/* Sidebar */
#MainMenuDiv {
    flex: 0 0 max-content;
}

#Sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Sidebar li {
    list-style: none;
    background-color: #686868;
    padding: 11px 24px;
    border-bottom: thin solid #7c7c7c;
    border-left: thin outset #737373;
    border-bottom: thin inset #5d5d5d;
    align-self: center;
}


#Sidebar li:hover {
    background-color:#333333;
    cursor: pointer;
}

#Sidebar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#ContentDivWrapper {
    flex: 1 0 max-content;
}

#ContentDiv {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 10px 10px 10px;
}

#ContentDiv > * {
    flex: 1 0 max-content;
}

#Card {
}

#Card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#Card ul li a {
    text-decoration: none;
}
