{% extends './base.html' %}

{% block content %}
{{ html }}
<div id="ContentDiv">
    <div id="Card">
        <ul>
            <li class="MenuGroupHeader">Transactions</li>
            <li class="MenuGroupItem"><a href="#">Link</a></li>
        </ul>
    </div>
    <div id="Card">
        <ul>
            <li class="MenuGroupHeader">Inquiries and Reports</li>
            <li class="MenuGroupItem"><a href="#">Link</a></li>
        </ul>
    </div>
    <div id="Card">
        <ul>
            <li class="MenuGroupHeader">Maintenance</li>
            <li class="MenuGroupItem"><a href="#">Account Sections</a></li>
            <li class="MenuGroupItem"><a href="/AccountGroups/">Account Groups</a></li>
            <li class="MenuGroupItem"><a href="#">GL Accounts</a></li>
        </ul>
    </div>
</div>
{% endblock content %}
