{% extends './base.html' %}

{% block content %}
<div id="ContentDiv">
    <div id="Card">
        <ul>
            <li class="MenuGroupHeader">General Setup Options</li>
            <li class="MenuGroupItem"><a href="{{ page.url }}">User Maintenance</a></li>
        </ul>
    </div>
    <div id="Card">
        <ul>
            <li class="MenuGroupHeader">Receivables/Payables Setup</li>
            <li class="MenuGroupItem"><a href="#">Link</a></li>
        </ul>
    </div>
    <div id="Card">
        <ul>
            <li class="MenuGroupHeader">Inventory Setup</li>
            <li class="MenuGroupItem"><a href="#">Link</a></li>
        </ul>
    </div>
</div>
{% endblock content %}
