<ul id="SideBar">
	<li><a href="{{ page.url }}/Sales">Sales</a></li>
	<li><a href="{{ page.url }}/Receivables">Receivables</a></li>
	<li><a href="{{ page.url }}/Purchases">Purchases</a></li>
	<li><a href="{{ page.url }}/Payables">Payables</a></li>
	<li><a href="{{ page.url }}/Inventory">Inventory</a></li>
	<li><a href="{{ page.url }}/Manufacturing">Manufacturing</a></li>
	<li><a href='{{ page.url }}/GeneralLedger'>General Ledger</a></li>
	<li><a href="{{ page.url }}/Assetmanager">Asset Manager</a></li>
	<li><a href="{{ page.url }}/PettyCash">Petty Cash</a></li>
	<li><a href="{{ page.url }}/Setup">Setup</a></li>
	<li><a href="{{ page.url }}/Utilities">Utilities</a></li>
</ul>
